services:
  backend:
    build:
      context: ./backend
    container_name: pomo_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - backend_data:/app
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: pomo_frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  backend_data:
